.flex-all-center {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
    padding: 4px 10px;
    color: white;
    border-radius: 7px;
    background-color: var(--main-bg-color);
    border: 2px solid white;
    cursor: pointer ;
}